.background-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-container {
    height: 100vh;
    scroll-behavior: smooth;
}

.main-container section:not(.hero) {
    padding-top: var(--nav-bar-height);
}


@media (min-width:320px) {
    /* smartphones, iPhone, portrait 480x320 phones */
    .main-container section:not(.hero) {
        min-height: 100vh;
    }
}

@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }

@media (min-width:961px)  {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    .about,
    .intro,
    .skills-section-container,
    .contact-container,
    .slides-container {
        margin: 0 50px;
    }
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }

@media (min-width:1600px) {
    .about,
    .intro,
    .skills-section-container,
    .contact-container,
    .slides-container {
        margin: 0 200px;
    }
}
