.nav-web {
    display: flex;
    margin: 0 auto;
    height: var(--nav-bar-height);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 4;
    backdrop-filter: blur(4px);
    box-sizing: content-box;
    border-bottom: solid 1px lightgrey;
    justify-content: space-between;
}

.initials {
    align-self: center;
    margin-left: 16px;
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
    cursor: pointer;
}

.initials:hover {
    color: var(--color-pink);
    -webkit-text-stroke: unset;
}

.nav-web ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-inline-start: 0;
}

.nav-link, .initials {
    margin: 16px;
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
    
    -webkit-text-stroke: 1px #ebebeb;
   color: white;
   text-shadow: 2px 2px 0 #00247a, -1px -1px 0 #00247a, 1px -1px 0 #00247a, -1px 1px 0 #00247a, 1px 1px 0 #00247a;
}

.nav-link:hover {
    cursor: pointer;
    color: var(--color-pink);
    -webkit-text-stroke: unset;
}

.nav-mobile {
    display: flex;
    margin: 0;
    height: var(--nav-bar-height);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 4;
    backdrop-filter: blur(4px);
    box-sizing: content-box;
    border-bottom: solid 1px lightgrey;
    justify-content: space-between;
}

.nav-mobile ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-inline-start: 0;
    margin-right: 16px;
}

.nav-mobile .nav-link {
    margin: 0 4px;
    color: #FFF;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}